@model GwentApp.Models.Player
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (@Html.BeginForm("ProcessIndexFormView","Setup"))
{
    <label for="faction">Pick a faction</label>
    @Html.DropDownList("faction", GwentApp.Models.Player.factionselectlistitems);<br />
    <label for="leader">Name your leader</label>
    @Html.TextBox("leader");<br />
    <input type="submit" value="Submit" />
    
}

